<!-- <html>
	<head>
		<link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css'/>

	</head>
	<body>
		<div class='container'>
			<h1>Weekend Project 2</h1>
			<div class = 'well'> 
			We have information on <a href = '/categories'> {{count}} categories..</a>
			</div>
		</div>
	</body>

</html> -->

{% extends "layout.html" %}

{% block content %}
	<div>Under the home tab</div>
 	<!-- input box for category name
 	save button -->
 	<div class = 'well'>
 		<form action = '/' method = 'POST'>
 			<div class = 'form-group'>
 				<input class = 'form-control' name = 'new_cat_name' placeholder = 'category name'>
 			</div>
 			<div class = 'form-group'>
 				<button class = 'btn btn-primary'> Save </button>
 			</div>
 		</form>
 	</div>


{% endblock %}