<html>
	<head>
		<link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css'/>

	</head>
	<body>
		<div class='container'>
			<h1>Weekend Project 2</h1>
			<div class = 'well'> 
			We have information on <a href = '/categories'> {{count}} categories..</a>
			</div>
			
		</div>
		<!-- Begin page content -->

		    <div class="container">
		    	<div> home tab stuff </div>
				 
				 <ul class = 'nav nav-pills'>
					 <li {% if cat_name == 'home' %} class = 'active'{% endif %} >
					 <a href='/'> Home </a></li>
				 {% for category in categories %}
				 	<li {% if category == cat_name %} class = 'active' {% endif %} >
				 	<!-- wow i kept getting errors because I was using {{category}} inside the if statement. how do i get a better feel for this? (also same error for mistakenly using = in if instead of ==) -->
				 	<a href = '/categories/{{category}}/products'> {{ category }}</a></li>
				 {% endfor %}
				 </ul>

		        {% block content %}Welcome to my hw, idk what this is for tbh{% endblock %}
		    </div> <!-- end container -->
	</body>

</html>